<div class="container-xxl">

  <h2 class="text-center mt-3"> Demande d'une absence </h2>

  <!-- Mettre la méthode de validation -->
  <form [formGroup]="leaveForm" (ngSubmit)="submitForm()">

    <div class="col-sm-8 offset-4">

      <div class="row col-6 align-center m-2">
        <div class="col-5 m-1">
          <mat-form-field appearance="fill">
            <mat-label>Dates souhaitées</mat-label>
            <mat-date-range-input [rangePicker]="picker" [min]="minDate">
              <input  matStartDate required  formControlName='startDate' [min]="minDate">
              <input  matEndDate required  formControlName='endDate'>
            </mat-date-range-input>

            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error *ngIf="leaveForm.controls['startDate'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="leaveForm.controls['endDate'].hasError('matEndDateInvalid')">Invalid end date</mat-error>

          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Type de congé</mat-label>
            <mat-select name="leaveType" [formControl]="leaveTypeControl">
              <mat-option *ngFor="let type of leaveTypeEnum | enumToArray " [value]="type">{{type | leaveType}}</mat-option>
            </mat-select>

            <!--<mat-error *ngIf="leaveForm.controls['leave'].hasError('required')">Type de congé requis</mat-error>
            <p  *ngIf="leaveForm.controls['leaveType'].errors && leaveForm.controls['leaveType'].dirty"></p>-->
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Motif</mat-label>
            <textarea matInput name="motif" id="motif"></textarea>
          </mat-form-field>

          <div class="m-1 mt-3">
            <p><button mat-raised-button color="primary">Valider</button></p>
            <button mat-raised-button color="warn">Annuler</button>
            {{leaveForm.status}}
          </div>

        </div>



      </div>
    </div>











  </form>
</div>
