<h2 class="text-center mt-3"> Ajout d'un jour férié / RTT employeur </h2>
<form [formGroup]="companyHolidayForm" (ngSubmit)="submitForm()">

  <div class="col-sm-6 offset-sm-4">
	<div class="row col-6 align-center m-2">
	  <div class="col-sm-6 m-1">
		<mat-form-field appearance="fill">
		  <mat-label>Date</mat-label>
		  <input  matInput [matDatepicker]="picker" formControlName="date" required="" [min]="minDate">
		  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		  <mat-datepicker #picker></mat-datepicker>
		  <mat-error *ngIf="companyHolidayForm.controls['date'].hasError('required')">Veuillez saisir une date</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
		  <mat-label>Type</mat-label>
		  <mat-select name="companyHolidayType" formControlName="companyHolidayType" required="" [errorStateMatcher]="matcherType" #typeCompanyHoliday>
			<mat-option *ngFor="let type of companyHolidayTypeEnum | enumToArray " [value]="type">{{type | ch}}</mat-option>
		  </mat-select>
		  <mat-error *ngIf="companyHolidayForm.controls['companyHolidayType'].hasError('required')">Renseignez le type de congé</mat-error>
		</mat-form-field>

		<mat-form-field appearance="fill">
		  <mat-label>Commentaire</mat-label>
		  <textarea rows="8" width="50px" matInput name="comment" id="comment" formControlName="comment" ></textarea>
		</mat-form-field>
		<div class="mt-1 aligne">
		  <button mat-raised-button color="primary">Valider</button>
		  <button mat-raised-button color="warn" (click)="cancel()">Annuler</button>
		</div>
	  </div>
	</div>
  </div>
</form>